/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
#radioGroup input[type=radio] {
  display:none; 
  margin:10px;
  cursor:pointer;
}

/*
Change the look'n'feel of labels (which are adjacent to radiobuttons).
Add some margin, padding to label
*/
#radioGroup input[type=radio] + label {
  display:inline-block;
  margin:-2px;
  padding: 4px 12px;
  background-color: #e7e7e7;
  border: 1px solid #343a40;
  cursor:pointer;
}
/*
Change background color for label next to checked radio button
to make it look like highlighted button
*/
#radioGroup input[type=radio]:checked + label {
    background-image: none;
    background-color: #343a40;
    color: white;
    border: 1px solid #343a40;
}